<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	{% for stylesheet in site.css %}
    <link rel="stylesheet" href="{{ stylesheet }}" />            
    {% endfor %}
    <title>{{page.title}}</title>
</head>
<body>
	<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/">NJAUMC</a>
		    <ul class="nav">
		      <li><a href="{{site.about}}">About</a></li>
		      <li><a href="{{site.junior_high_camp}}">Junior High Camp</a></li>
		      <li><a href="{{site.asian_camp}}">Asian Camp</a></li>
		      <li><a href="{{site.alpha_omega}}">Alpha Omega</a></li>
		    </ul>
		  </div>
		</div>
	<div class="container">
		{{content}}
	<hr>
	<footer class="footer">
		Created by <a href="//www.colinichang.com">Colin Chang</a>. © Copyright {{site.time | date_to_string | split:" " | last}} 
	</footer>
	</div>
	{% for script in site.js %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
</body>

</html>