<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	{% for stylesheet in site.css %}
    <link rel="stylesheet" href="{{ stylesheet }}" />            
    {% endfor %}
    <title>{{page.title}}</title>
</head>
<body>
	<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/">NJAUMC</a>
		    <ul class="nav">
		      <li><a href="{{site.about}}">About</a></li>
		      <li><a href="{{site.junior_high_camp}}">Junior High Camp</a></li>
		      <li><a href="{{site.asian_camp}}">Asian Camp</a></li>
		      <li><a href="{{site.alpha_omega}}">Alpha Omega</a></li>
		    </ul>
		  </div>
		</div>
	<div class="container-fluid">
		{{content}}
	<hr>
	<footer class="footer">
		Created by <a href="//www.colinichang.com">Colin Chang</a>. © Copyright {{site.time | date_to_string | split:" " | last}} 
	</footer>
	</div>
	{% for script in site.js %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56699527-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>